build/
build-debug/
dist/

configs/**/*.bin
configs/**/*.dtbo

*.o
*.a
*.so
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
compile_commands.json

core
core.*

.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db
*.log
